@import "tailwindcss";

@custom-variant dark (&:where(.dark &));

body {
  background-color: #f9fafb;
  color: #111827;
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root.dark body {
  background-color: #111827;
  color: #f3f4f6;
}